<!--The content below is only a placeholder and can be replaced.-->
<div>
  
  <h1>Welcome to A!</h1>
  <div>
    <a routerLink="a">A</a> |
    <a routerLink="b">B</a> 
  </div>
  <div>
    <router-outlet></router-outlet>



  </div>

  <div>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, tenetur nulla explicabo corrupti iure delectus illum iusto aperiam rem est amet sapiente beatae soluta ipsa corporis accusantium nostrum vel blanditiis.
    Quisquam nam, vero obcaecati, magni quibusdam totam, nemo incidunt quidem laudantium natus doloremque praesentium neque? Dolorum cumque, totam similique quas nam aliquid quos ipsa provident necessitatibus aliquam accusantium, odio nemo!
    Nostrum itaque laborum ipsa natus dolore repellat atque, aliquam iusto aliquid est vitae ducimus eum ipsam fuga molestiae officia nam. Non, quaerat voluptatem. Cumque dignissimos nobis adipisci numquam quidem labore.
    Quisquam, dolores hic harum fuga assumenda perferendis libero est animi voluptas deleniti quam tenetur necessitatibus totam ipsa maiores temporibus. Eveniet ipsam perferendis voluptates praesentium consectetur quia id non repellat. Impedit?
    Doloribus tempora dolorem corrupti natus, asperiores sint excepturi dicta repellendus modi maiores quaerat culpa ut commodi quibusdam libero atque quod veritatis nulla? Tempore iste odit asperiores velit cumque perferendis repellat.
    Recusandae nisi accusantium sed quo illum est quasi dolores consequatur. Molestias, illum sequi? Neque modi saepe fugiat voluptate aliquid fugit doloremque numquam eligendi exercitationem, laboriosam accusamus porro eius velit laborum.
    Dignissimos eum consequatur eaque voluptatum voluptas! Nulla veritatis possimus eligendi maxime rem. Eos quam quasi impedit neque incidunt sapiente doloremque voluptatibus odio rem porro, accusantium illum eligendi at distinctio omnis!
    Dolorum odio necessitatibus iusto sint qui ratione, reiciendis aliquam assumenda eum est provident! Natus nam laudantium dolores dignissimos voluptatum quasi repellendus, ab quis facilis minima consequuntur a aliquid magnam nesciunt.
    Nam repellendus unde, beatae, inventore voluptatum tenetur ut deserunt architecto necessitatibus voluptatibus veritatis eos harum tempore totam ipsam temporibus eveniet accusantium cupiditate aperiam quas similique fuga optio nulla? Voluptatem, iure.
    Vel, enim ad. Quas aliquid, aspernatur tenetur itaque ipsa minima possimus iste blanditiis eaque repellat ad explicabo optio sunt, numquam cumque est accusantium? Architecto sed facere laboriosam ea, modi neque.

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, tenetur nulla explicabo corrupti iure delectus illum iusto aperiam rem est amet sapiente beatae soluta ipsa corporis accusantium nostrum vel blanditiis.
    Quisquam nam, vero obcaecati, magni quibusdam totam, nemo incidunt quidem laudantium natus doloremque praesentium neque? Dolorum cumque, totam similique quas nam aliquid quos ipsa provident necessitatibus aliquam accusantium, odio nemo!
    Nostrum itaque laborum ipsa natus dolore repellat atque, aliquam iusto aliquid est vitae ducimus eum ipsam fuga molestiae officia nam. Non, quaerat voluptatem. Cumque dignissimos nobis adipisci numquam quidem labore.
    Quisquam, dolores hic harum fuga assumenda perferendis libero est animi voluptas deleniti quam tenetur necessitatibus totam ipsa maiores temporibus. Eveniet ipsam perferendis voluptates praesentium consectetur quia id non repellat. Impedit?
    Doloribus tempora dolorem corrupti natus, asperiores sint excepturi dicta repellendus modi maiores quaerat culpa ut commodi quibusdam libero atque quod veritatis nulla? Tempore iste odit asperiores velit cumque perferendis repellat.
    Recusandae nisi accusantium sed quo illum est quasi dolores consequatur. Molestias, illum sequi? Neque modi saepe fugiat voluptate aliquid fugit doloremque numquam eligendi exercitationem, laboriosam accusamus porro eius velit laborum.
    Dignissimos eum consequatur eaque voluptatum voluptas! Nulla veritatis possimus eligendi maxime rem. Eos quam quasi impedit neque incidunt sapiente doloremque voluptatibus odio rem porro, accusantium illum eligendi at distinctio omnis!
    Dolorum odio necessitatibus iusto sint qui ratione, reiciendis aliquam assumenda eum est provident! Natus nam laudantium dolores dignissimos voluptatum quasi repellendus, ab quis facilis minima consequuntur a aliquid magnam nesciunt.
    Nam repellendus unde, beatae, inventore voluptatum tenetur ut deserunt architecto necessitatibus voluptatibus veritatis eos harum tempore totam ipsam temporibus eveniet accusantium cupiditate aperiam quas similique fuga optio nulla? Voluptatem, iure.
    Vel, enim ad. Quas aliquid, aspernatur tenetur itaque ipsa minima possimus iste blanditiis eaque repellat ad explicabo optio sunt, numquam cumque est accusantium? Architecto sed facere laboriosam ea, modi neque.

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, tenetur nulla explicabo corrupti iure delectus illum iusto aperiam rem est amet sapiente beatae soluta ipsa corporis accusantium nostrum vel blanditiis.
    Quisquam nam, vero obcaecati, magni quibusdam totam, nemo incidunt quidem laudantium natus doloremque praesentium neque? Dolorum cumque, totam similique quas nam aliquid quos ipsa provident necessitatibus aliquam accusantium, odio nemo!
    Nostrum itaque laborum ipsa natus dolore repellat atque, aliquam iusto aliquid est vitae ducimus eum ipsam fuga molestiae officia nam. Non, quaerat voluptatem. Cumque dignissimos nobis adipisci numquam quidem labore.
    Quisquam, dolores hic harum fuga assumenda perferendis libero est animi voluptas deleniti quam tenetur necessitatibus totam ipsa maiores temporibus. Eveniet ipsam perferendis voluptates praesentium consectetur quia id non repellat. Impedit?
    Doloribus tempora dolorem corrupti natus, asperiores sint excepturi dicta repellendus modi maiores quaerat culpa ut commodi quibusdam libero atque quod veritatis nulla? Tempore iste odit asperiores velit cumque perferendis repellat.
    Recusandae nisi accusantium sed quo illum est quasi dolores consequatur. Molestias, illum sequi? Neque modi saepe fugiat voluptate aliquid fugit doloremque numquam eligendi exercitationem, laboriosam accusamus porro eius velit laborum.
    Dignissimos eum consequatur eaque voluptatum voluptas! Nulla veritatis possimus eligendi maxime rem. Eos quam quasi impedit neque incidunt sapiente doloremque voluptatibus odio rem porro, accusantium illum eligendi at distinctio omnis!
    Dolorum odio necessitatibus iusto sint qui ratione, reiciendis aliquam assumenda eum est provident! Natus nam laudantium dolores dignissimos voluptatum quasi repellendus, ab quis facilis minima consequuntur a aliquid magnam nesciunt.
    Nam repellendus unde, beatae, inventore voluptatum tenetur ut deserunt architecto necessitatibus voluptatibus veritatis eos harum tempore totam ipsam temporibus eveniet accusantium cupiditate aperiam quas similique fuga optio nulla? Voluptatem, iure.
    Vel, enim ad. Quas aliquid, aspernatur tenetur itaque ipsa minima possimus iste blanditiis eaque repellat ad explicabo optio sunt, numquam cumque est accusantium? Architecto sed facere laboriosam ea, modi neque.

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, tenetur nulla explicabo corrupti iure delectus illum iusto aperiam rem est amet sapiente beatae soluta ipsa corporis accusantium nostrum vel blanditiis.
    Quisquam nam, vero obcaecati, magni quibusdam totam, nemo incidunt quidem laudantium natus doloremque praesentium neque? Dolorum cumque, totam similique quas nam aliquid quos ipsa provident necessitatibus aliquam accusantium, odio nemo!
    Nostrum itaque laborum ipsa natus dolore repellat atque, aliquam iusto aliquid est vitae ducimus eum ipsam fuga molestiae officia nam. Non, quaerat voluptatem. Cumque dignissimos nobis adipisci numquam quidem labore.
    Quisquam, dolores hic harum fuga assumenda perferendis libero est animi voluptas deleniti quam tenetur necessitatibus totam ipsa maiores temporibus. Eveniet ipsam perferendis voluptates praesentium consectetur quia id non repellat. Impedit?
    Doloribus tempora dolorem corrupti natus, asperiores sint excepturi dicta repellendus modi maiores quaerat culpa ut commodi quibusdam libero atque quod veritatis nulla? Tempore iste odit asperiores velit cumque perferendis repellat.
    Recusandae nisi accusantium sed quo illum est quasi dolores consequatur. Molestias, illum sequi? Neque modi saepe fugiat voluptate aliquid fugit doloremque numquam eligendi exercitationem, laboriosam accusamus porro eius velit laborum.
    Dignissimos eum consequatur eaque voluptatum voluptas! Nulla veritatis possimus eligendi maxime rem. Eos quam quasi impedit neque incidunt sapiente doloremque voluptatibus odio rem porro, accusantium illum eligendi at distinctio omnis!
    Dolorum odio necessitatibus iusto sint qui ratione, reiciendis aliquam assumenda eum est provident! Natus nam laudantium dolores dignissimos voluptatum quasi repellendus, ab quis facilis minima consequuntur a aliquid magnam nesciunt.
    Nam repellendus unde, beatae, inventore voluptatum tenetur ut deserunt architecto necessitatibus voluptatibus veritatis eos harum tempore totam ipsam temporibus eveniet accusantium cupiditate aperiam quas similique fuga optio nulla? Voluptatem, iure.
    Vel, enim ad. Quas aliquid, aspernatur tenetur itaque ipsa minima possimus iste blanditiis eaque repellat ad explicabo optio sunt, numquam cumque est accusantium? Architecto sed facere laboriosam ea, modi neque.

  </div>
</div>
